* {
        margin: 0;
        padding: 0;
}
@font-face {
        font-family: Myriad Pro;
        src: url('../font/Myriad-Pro.ttf');
}
.container {
        max-width: 1170px;
        margin: 0 auto;
}
 .logo {
        padding: 34px 0;
        width: 172px;
        font-size: 48px;
        font-family: "Broadcast Matter";
        font-weight: bold;
        color: rgb(7, 7, 7);
        line-height: 1.2;
        text-align: center;
        align-self: center;        
 }
 .lang {
         padding-top: 19px;
         padding-bottom: 28px;
        font-size: 16px;
        font-family: "Myriad Pro";
        // color: rgb(8, 8, 8);
        // text-transform: uppercase;
        // line-height: 1.2;
        list-style-type: none;
        display: flex;
 }
 .lang_link {
         padding: 0 10px;
 }
 .en {
         padding-left: 10px;
 }
 .header_icon {
        //  padding-bottom: 40px;
         display: flex;
         list-style-type: none;
 }
 .icon {
         width: 26px;
         margin-left: 18px;
         padding-bottom: 26px;
 }
 .nav {
         width: 900px;
         list-style-type: none;
         display: flex;
         font-size: 20px;
         font-family: 'Kurale', serif;
        //  font-family: "Myriad Pro";
         justify-content: space-between;
 }
 .header_link {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
 }
 .menu {
         display: flex;
         justify-content: space-between;
 }
 .top_menu {
// margin-right: 45px;
text-decoration: none;
 }
 .top_link {
         color: #000;
 }
 .top_link:hover {
         color: #006400;
 }
 .second {
         font-size: 16px;
        list-style-type: none;
         width: 205px;
         line-height: 28px;
         position: absolute;
        //  margin-top: 18px;
         display: none;
 }
 .service {
         float: left;
         position: relative;
 }
 .info {
         background-image: url(../images/neu/fon1.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
 }
 .header__bottom {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 100%);
        margin-top: 45px;
 }
 .h3 {
        padding-top: 100px;
        color: #6a6c6a;
}
 .h1 {
         font-weight: normal;
         width: 650px;
         font-size: 60px;
         color: #006400;
         font-family: "Myriad Pro";
 }
.green {
        width: 290px;
        height: 8px;
        background: #006400;
        margin: 35px 0;
}
 .info_text {
         width: 650px;
         color: #6a6c6a;
         text-align: justify;
 }
 .adv_h3 {
         padding-top: 35px;
         padding-bottom: 20px;
         font-size: 25px;
         text-align: center;
 }
 .natur {
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;
         margin-bottom: 30px;
 }
 .plus {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
 }
 .plus__h3 {
        font-family: 'Kurale', serif;
        // font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        letter-spacing: 2px;
        padding-bottom: 10px;
        color: #6e1b21;
 }
 .plus__text {
         margin-left: 20px;
 }
 .plus__p {
         font-size: 16px;
         text-align: justify;
 }
.flex {
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
}
.flex__left {
        margin-right: 80px;
}
 .main {
         display: flex;
         flex-direction: column;
 }
 .img {
         align-self: center;
         max-width: 100%;
        max-height: 100%;

 }
 .card {
        transition: all 1s;
 }
 .card_top {
         display: flex;
         margin-bottom: 45px;
 }
 .card_bottom {
         display: flex;
         margin-bottom: 100px;
 }
 .card__text {
         padding: 25px 0;
 }
 .card__h3 {
         font-size: 20px;
         font-weight: normal;
 }
 .card__p {
         font-size: 14px;
 }
 .h2_main {
         font-weight: normal;
         text-align: center;
         font-family: "Myriad Pro";
         font-size: 40px;
         color: #6a6c6a;
         line-height: 0.585;
         padding: 70px;
 }
 .product {
                // background-image: linear-gradient( 0deg, rgb(255,255,255) 0%, rgb(220,220,220) 0%, rgb(255,255,255) 100%);
                background: radial-gradient(white, gainsboro);
 }
 .card {
         display: flex;
         flex-direction: column;
         text-align: center;
         margin: 0 25px;
         font-size: 24px;
         color: #006400;
         font-family: "Myriad Pro";
 }
 .h2_maps {
         text-transform: uppercase;
         padding: 50px 0;
         font-weight: bold;
         line-height: 1.2;
         color: #006400;
         letter-spacing: 5px;
         font-size: 30px;
         font-family: "Myriad Pro";
         text-align: center;
 }
 .footer {
        //  margin-top: 50px;
        //  background: radial-gradient(rgb(173, 255, 47), rgb(255, 255, 255));
         background: linear-gradient(rgba(199, 200, 219, .8), white);
 }
 .f_icon {
         width: 23px;
         padding-right: 10px;
 }
 .links {
         padding-top: 50px;
         padding-bottom: 50px;
         display: flex;
         justify-content: space-between;
 }
 .h2_footer {
         font-family: "Myriad Pro";
         font-size: 30px;
         color: #006400;
         font-weight: normal;
         padding-top: 32px;
         padding-bottom: 75px;
 }
 .link_text {
         font-size: 20px;
 }
 .footer_li {
        font-family: 'Kurale', serif;
         padding-bottom: 10px;
 }
 .form {
         display: flex;
         flex-direction: column;
         width: 300px;
         height: 450px;
         background: #ffffff;
         border-radius: 20px;
         box-shadow: 0px 0px 30px 0px rgba(1, 1, 1, 0.75);
 }
 .h4 {
         font-size: 30px;
         font-family: "Myriad Pro";
         text-align: center;
         margin-bottom: 15px;
 }
 .input {
         outline: none;
         padding: 12px;
         border: 1px solid #006400;
         border-radius: 17px;
         margin: 0 20px 15px;
 }
 .button {
         background: #adff2f;
         opacity: 0.6;
         border-radius: 17px;
         border: none;
         align-self: center;
         text-align: center;
         padding: 8px;
         color: black;
         font-size: 16px;
         text-transform: uppercase;
 }
 .copyright {
         background: dimgray;
 }
 .copy {
         display: flex;
         justify-content: space-around;
         font-size: 16px;
         color: whitesmoke;
         padding-bottom: 5px;
         padding-top: 5px;
 }

 li:hover .second {
         display: block;
 }
.icon:hover {
        transform: scale(1.2);
}
 .card:hover {
         transform: scale(1.1);
         .card__text {
                //  background-color: #adff2f;
                background-color: rgba(173, 255, 47, .7);
         }
         
 }
 .button:hover {
         background: #006400;
         color: #ffffff;
 }
 a {
         text-decoration: none;
         color: black;
 }
 ul {
         list-style-type: none;
 }



//  Стили для страницы с шугарингом

.s_header {
        background-image: url(../images/neu/sugar.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         height: 1067px;
}
.s_info {
        padding: 100px 0;
}